@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(400px);
                transform: translateX(400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}