html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  position: relative;
}

a:hover {
  text-decoration: none;
}

.header {
  position: relative;
}

.menu {
  background-color: #212121;
  min-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.menu__box {
  padding: 10px 70px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
}

.menu__item {
  border-right: 2px dotted #000000;
  padding-right: 30px;
}

.menu__item:last-child {
  border-right: none;
  padding-right: 0;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px 0;
}

.subheader__desc {
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 100;
}

.subheader__offer {
  color: #ffffff;
  font-size: 12px;
  text-align: right;
}

.subheader__phone {
  display: block;
  color: #ffffff;
  font-size: 1.47rem;
  font-weight: 400;
  text-align: right;
  line-height: 24px;
}

.subheader__btn {
  display: block;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
}

.subheader__btn:hover {
  background-image: none;
  background: #1eacc7;
}

.logo {
  display: block;
  margin-bottom: 6px;
}

.logo__img {
  width: 100%;
}

.xs-visible {
  display: none;
}

.promo {
  min-height: 748px;
  background: url(../img/bg1.jpg) center center/cover no-repeat;
  padding-top: 151px;
}

.promo__header {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 4rem;
  margin: 0;
}

.promo__subheader {
  color: #ffffff;
  font-size: 4rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.4rem;
  margin: 0;
  margin: 16px 0 23px;
}

.promo_desc {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.6rem;
}

.promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  margin: 118px auto 0;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 63px;
}

.promo_btn:hover {
  background-image: none;
  background: #1eacc7;
}

.advantages {
  padding: 71px 0 65px;
}

.label {
  width: 112px;
  height: 24px;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.label_white {
  background-color: #ffffff;
  color: #070716;
}

.title {
  margin: 38px 0 0;
  color: #222222;
  font-size: 2.53rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.title_white {
  color: #ffffff;
}

.subtitle {
  margin: 19px 0 32px;
  color: #222222;
  font-size: 1.13rem;
  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 2;
}

.subtitle_white {
  color: #ffffff;
}

.advantages__item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__icon {
  width: 113px;
  height: 113px;
  border-radius: 100%;
  background-color: #1eacc7;
  text-align: center;
  line-height: 113px;
  margin-right: 6px;
}

.item__desc {
  max-width: 341px;
  color: #202020;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.item__title {
  color: #1eacc7;
  font-size: 1.13rem;
  font-weight: 400;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 60px;
  background: url(../img/bg2.png) center center/cover no-repeat;
}

.mobile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  height: 280px;
  padding: 91px 0 35px;
  margin-bottom: 19px;
}

.mobile__item_1 {
  background: url(../img/img1.jpg) center center/cover no-repeat;
}

.mobile__item_1:hover {
  background: url(../img/img1.jpg) center center/cover no-repeat, rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
}

.mobile__item_2 {
  background: url(../img/img2.jpg) center center/cover no-repeat;
}

.mobile__item_2:hover {
  background: url(../img/img2.jpg) center center/cover no-repeat, rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
}

.mobile__item_3 {
  background: url(../img/img3.jpg) center center/cover no-repeat;
}

.mobile__item_3:hover {
  background: url(../img/img3.jpg) center center/cover no-repeat, rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
}

.mobile__item_4 {
  background: url(../img/img4.jpg) center center/cover no-repeat;
}

.mobile__item_4:hover {
  background: url(../img/img4.jpg) center center/cover no-repeat, rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
}

.mobile__item_5 {
  background: url(../img/img5.jpg) center center/cover no-repeat;
}

.mobile__item_5:hover {
  background: url(../img/img5.jpg) center center/cover no-repeat, rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
}

.mobile__item_6 {
  background: url(../img/img6.jpg) center center/cover no-repeat;
}

.mobile__item_6:hover {
  background: url(../img/img6.jpg) center center/cover no-repeat, rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
}

.mobile__item:hover .mobile__subtitle, .mobile__item:hover .mobile__plus {
  opacity: 1;
}

.mobile__subtitle {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.mobile__plus {
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.mobile__plus_img {
  width: 60%;
}

.opportunities {
  min-height: 896px;
  position: relative;
  background: url(../img/bg2.png) center center/cover no-repeat;
  padding: 57px 0 138px;
}

.opportunities__img {
  position: relative;
  display: block;
  margin: 56px auto 0;
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.opportunities__desc {
  text-align: center;
  color: #222222;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 24px;
}

.bg_black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.conditions {
  padding: 68px 0 52px;
}

.conditions__box {
  margin: 50px 0 32px;
  max-width: 88%;
}

.conditions__title {
  color: #1ca8c3;
  font-size: 1.47rem;
  font-weight: 400;
}

.conditions__title_red {
  color: #ff5656;
}

.conditions__list {
  list-style: none;
  padding-left: 50px;
  color: #222222;
  font-size: 1.13rem;
}

.conditions__item {
  margin-bottom: 10px;
  position: relative;
}

.conditions__item::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 4px;
  width: 21px;
  height: 20px;
  background: url(../img/v-icon1.png) center center/cover no-repeat;
}

.conditions__item_red::before {
  background: url(../img/v-icon2.png) center center/cover no-repeat;
}

.conditions__desc {
  color: #1ca8c3;
  font-size: 1.13rem;
}

.map {
  min-height: 717px;
  background: url(../img/bg4.jpg) center center/cover no-repeat;
  padding: 49px 0;
}

.map__all {
  display: block;
  color: #1fbad6;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 486px;
}

.footer {
  padding: 14px 0 20px;
  position: relative;
}

.footer__wrapper {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__line_top {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer__line_bottom {
  position: absolute;
  bottom: 0;
  height: 8px;
  width: 100%;
  background-color: #070716;
}

.footer__socials {
  margin-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100%/ 3);
}

.footer__socials_link {
  display: block;
  margin-right: 9px;
  text-align: center;
  line-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #070716;
  color: #ffffff;
}

.footer__links {
  text-align: center;
  width: calc(100%/ 3);
}

.footer__main-links {
  margin-bottom: 8px;
}

.footer__main-link {
  text-decoration: none;
  margin-right: 47px;
  color: #070716;
  text-transform: uppercase;
}

.footer__main-link:last-child {
  margin-right: 0;
}

.footer__sublinks {
  margin-bottom: 8px;
}

.footer__sublink {
  text-decoration: none;
  margin-right: 21px;
  color: #999999;
  font-size: 11px;
  text-transform: uppercase;
}

.footer__sublink:last-child {
  margin-right: 0;
}

.footer__lang {
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__mobile {
  width: calc(100%/ 3);
  text-align: right;
  margin-right: 17px;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
  .menu__item {
    padding-right: 22px;
  }
  .item__desc {
    max-width: 300px;
  }
  .mobile__item {
    max-width: 300px;
  }
  .footer__main-link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 11px;
  }
  .menu__item {
    padding-right: 7px;
  }
  .subheader__desc {
    font-size: 12px;
  }
  .subheader__btn {
    width: 100%;
  }
  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__desc {
    margin-top: 20px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__socials {
    margin: 10px 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__links {
    margin: 10px 0;
    width: 100%;
  }
  .footer__mobile {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .menu__box {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: left .5s ease;
    transition: left .5s ease;
    z-index: 10;
  }
  .menu__box_active {
    left: 0;
  }
  .menu__item {
    display: block;
    padding: 5px 0;
    text-align: center;
    border: none;
    margin: 20px 0;
    width: 100%;
  }
  .menu__link {
    display: block;
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger__line {
    display: block;
    height: 2px;
    width: 100%;
    background: #ffffff;
    margin-bottom: 2px;
    -webkit-transition: margin .5s ease, -webkit-transform .5s ease;
    transition: margin .5s ease, -webkit-transform .5s ease;
    transition: transform .5s ease, margin .5s ease;
    transition: transform .5s ease, margin .5s ease, -webkit-transform .5s ease;
  }
  .hamburger_active .hamburger__line {
    margin-bottom: -2px;
  }
  .hamburger_active .hamburger__line:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active .hamburger__line:nth-child(2) {
    display: none;
  }
  .hamburger_active .hamburger__line:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .item__desc {
    margin: 10px auto;
  }
  .mobile__item {
    margin: 10px auto;
  }
}

@media screen and (max-width: 575px) {
  .subheader__btn {
    font-size: 12px;
  }
  .promo_btn {
    margin: 25px auto 0;
  }
  .opportunities {
    min-height: 796px;
  }
  .opportunities__desc {
    margin-top: 75px;
  }
}
/*# sourceMappingURL=style.css.map */